

@page
@model IEnumerable<Domain.Models.Employee>

@{
    ViewData["Title"] = "All Employees ";
}

<h1>@ViewData["Title"]</h1>

<div><b>Table Format Data Displaying in ForEach</b><br /></div>
<table class="table table-bordered table-responsive table-hover">
    <tr>
        <th>Employee Id </th>
        <th>First Name </th>
        <th>Last Name </th>
        <th>Email</th>
        <th>Salary</th>
        <th>Company</th>
        <th>Department</th>
    </tr>
    @foreach (var d in Model)
    {
        <tr>
            <td>@d.Firstname+@d.Lastname</td>
            <td>@d.Birthdate</td>
            <td>@d.Email</td>
            

        </tr>
    }
</table>

