
@{

    ViewBag.Title = "Delete";

}
<h2>delete</h2>
@using (Html.BeginForm("Delete", "EmployeeView"))
{
     <div class="form-horizontal">
        <h4>Are you sure you want to delete ? </h4>
      
    
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="hidden" name="Id" value=id />
                <input type="submit" value="Delete" onclick="Delete(id)" class="btn btn-default" />
            </div>
        </div>
        <div>
            @Html.ActionLink("Back to List", "Index")
        </div>
</div>
}